apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "bootstrapBrokers": ["broker1:9092", "broker2:9092"],
      "saslUsername": "user",
      "saslPassword": "password",
      "saslMechanism": "SCRAM-SHA512",
    }
